.header_bar{
    padding: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.header_bar h3{
    font-size: 25px;
}
.header_txt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about{
    margin-left: 10px;
}

.form-card{
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;

    height: 12rem;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 229, 238);
    box-shadow: 0px 4px 12px #d8d1d1;
    
}
.para{
    color: blue;
}

.details{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.paymentslip{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}
.space{
    margin-right: 1rem;
}

.booking-sec{
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 12px rgb(140, 135, 135);
    height: 100px;
    width: 500px;
    border-radius:5px ;
    
}
.bar{
    border: 1px solid red;
    
}
.btn{
    background-color: rgb(91, 164, 228);
    border: 0;
    border-radius: 5px;
    height: 40px;
    font-weight: 100;
    width: 100px;
    color: aliceblue;
}
.date-card{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    
    
}
.date-box{
    height: 30px;
}

.spans{
    height: 30px;
    background-color: white;
    margin: 1.5rem;
}
.marg{
    margin-bottom: 4rem;
}
.pay{
    font-size: 8px;
    color: black;
}
.rupi{
    display: flex;
    flex-direction: column;
    align-items: center;
}