/* General styling for the discover-card container */
.discover-card {
    width: 240px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px;
    font-family: Arial, sans-serif;
}

.discover-card-move{
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px;
    font-family: Arial, sans-serif; 
}
.child-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover; 
}


h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}


.child-row p {
    color: #FFD700; 
    font-size: 16px;
}


.discover-child > p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

.main{
    display: flex;
    flex-direction: row;
}
.mdl-img{
    height: 10rem;
    width: 20rem;
}