.navbar{
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.link{
    background-color: rgb(120, 189, 120);
    height: 30px;
    border: 1px solid gray;
    color: white;
    border-radius: 5px;
    font-weight: 100;
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.link1{
    background-color: rgb(120, 189, 120);
    height: 30px;
    border: 1px solid gray;
    color: white;
    border-radius: 5px;
    font-weight: 100;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
}